@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-rose_pompadour text-white;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.animenu {
  @apply transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300;
}

.anibutton {
  @apply transition ease-in-out hover:bg-finn duration-300;
}
